button {
  border: 1px solid $light-gray;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  padding: 8px 0px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  color: $light-gray;
}

button:hover {
  color: $cadet-blue-crayola;
  border: 1px solid $cadet-blue-crayola;
}

input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid $light-gray;
  border-radius: 10px;
  color: $light-gray;
}

h2 {
  padding: 1em;
}

svg {
  margin: 1.1% 1% 0 0;
}

.input-message {
  height: 20vh;
}

.contact-container {
  font: 100% $font-stack;
  color: $light-gray;
}

.contact-container-col-form {
  margin: 0 0 30% 0;
}

.contact-container-row {
  padding: 1%;
}

.icon-text {
  margin: 1%;
  color: $light-gray;
}

.icon-text:link {
  color: $light-gray;
}

.icon-text:visited {
  color: $light-gray;
}

.icon-text:hover {
  color: $cadet-blue-crayola;
}

.icon-text:active {
  color: $gainsboro;
}

@media all and (max-device-width: 640px){
  .contact-container-col {
    margin-bottom: 30%;
  }

  .contact-container-row {
    padding: 1%;
  }
}
