* {
  position: fixed-bottom;
}

.contact {
  margin: 0;
  text-align: center;

  .contact-github {
    padding: 1%;

    #github {
      color: $nickel;

      :link {
        color: $nickel;
      }

      :visited {
        color: $charcoal;
      }

      :hover {
        color: $cadet-blue-crayola;
      }

      :active {
        color: $gainsboro;
      }
    }
  }

  .contact-linkedin {
    padding: 1%;

    #linkedin {
      color: $nickel;

      :link {
        color: $nickel;
      }

      :visited {
        color: $charcoal;
      }

      :hover {
        color: $cadet-blue-crayola;
      }

      :active {
        color: $gainsboro;
      }
    }
  }

  .contact-email {
    padding: 1%;

    #email {
      color: $nickel;

      :link {
        color: $nickel;
      }

      :visited {
        color: $charcoal;
      }

      :hover {
        color: $cadet-blue-crayola;
      }

      :active {
        color: $gainsboro;
      }
    }
  }

  .contact-resume {
    padding: 1%;

    #resume {
      color: $nickel;

      :link {
        color: $nickel;
      }

      :visited {
        color: $charcoal;
      }

      :hover {
        color: $cadet-blue-crayola;
      }

      :active {
        color: $gainsboro;
      }
    }
  }
}

.icon-text {
  font: 100% $font-stack;
  margin: 1%;
  color: $light-gray;
}

.icon-text:link {
  color: $light-gray;
}

.icon-text:visited {
  color: $light-gray;
}

.icon-text:hover {
  color: $cadet-blue-crayola;
}

.icon-text:active {
  color: $gainsboro;
}

svg {
  color: $cadet-blue-crayola;
  margin: 1.1% 0.5% 0 0;
}
