@import './index.scss';


.landing {
  font: 100% $font-stack;
  font-size: 50px;
  background-color: $onyx;
  color: $light-gray;
  margin: 0;
  padding: 20%;
  text-align: center;
}


.title {
  -webkit-animation: slide-left 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-left 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}


.job {
  font-size: 30px;
  color: $nickel;
  padding: 10%;
  -webkit-animation: slide-right 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
