@media all {
  .landing {
    font: 100% $font-stack;
    font-size: 8em;
    background-color: $onyx;
    color: $light-gray;
    margin-top: 5%;
    padding: 7%;

  }

  .title {
    font-size: 100%;
    will-change: transform;
    animation: slide-left 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100px);
    }
  }

  .job {
    font-size: 40%;
    color: $nickel;
    padding: 5%;
    will-change: transform;
    animation: slide-right 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translatex(100px);
    }
  }
}

@media all and (max-device-width: 1200px){
  .landing {
    font-size: 3em;
    padding: 50%;
  }
}

@media all and (max-device-width: 720px){
    .landing {
      font-size: 3em;
      margin: 10%;
      padding: 50%;
    }
}

@media all and (max-device-width: 640px){
    .landing {
      font-size: 3em;
      margin: 10%;
      padding: 50%;
      text-align: -webkit-center;
    }
}

@media all and (max-device-width: 320px){
    .landing {
      font-size: 3em;
      margin: 10%;
      padding: 50%;
    }
}
