@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&display=swap');


/* SCSS HEX */
$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$nickel: #6c757dff;
$charcoal: #495057ff;
$onyx: #343a40ff;
$raisin-black: #212529ff;


$font-stack: 'Barlow Condensed', sans-serif;


body {
  font: 100% $font-stack;
  margin: 0;
  text-align: center;
  background-image: url('../Images/trees.jpg');
  animation-duration: 3s;
  animation-name: slidein;


  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}
