@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&display=swap');


/* SCSS HEX */
$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$nickel: #6c757dff;
$charcoal: #495057ff;
$onyx: #343a40ff;
$raisin-black: #212529ff;


$font-stack: 'Barlow Condensed', sans-serif;


body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
}
