
/* SCSS HEX */
$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$nickel: #6c757dff;
$charcoal: #495057ff;
$onyx: #343a40ff;
$raisin-black: #212529ff;

$font-stack: 'Barlow Condensed', sans-serif;

* {
  margin: 0;
  padding: 0;
  background-color: $onyx;
}

body {
  font: 100% $font-stack;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}

@import './Header.scss';
@import './Portfolio.scss';
@import './Contact.scss';
@import './Navbar.scss';
@import './Footer.scss';
