@import './index.scss';


.navbar {
  font: 100% $font-stack;
  margin: 0;
  background-color: $onyx;
  color: $nickel;
  box-sizing: content-box;
  width: 100%;


  :hover{
    color: $cadet-blue-crayola;
  }


  .navbar-item {
    justify-content: space-around;
    margin-left: 49%;
    padding: 1em;
    border-radius: 5em;
  }
}


@media all and (max-device-width: 640px){
    .navbar {
      width: 90%;
    }
}
