@import './index.scss';


.navbar {
  font: 100% $font-stack;
  margin: 0;
  color: $nickel;
  box-sizing: content-box;


  .navbar-item {
    justify-content: flex-end;
    padding: 10px;


    // :hover{
    //   color: $cadet-blue-crayola;
    // }
  }
}
