@import './index.scss';


.navbar {
  font: 100% $font-stack;
  margin: 0;
  color: $nickel;


  :hover{
    color: $cadet-blue-crayola;
  }


  .navbar-item {
    justify-content: flex-end;
    border-radius: 20px;
  }
}
