.portfolio {
  font: 100% $font-stack;
  margin: 0;
  padding: 5%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;

  .button-3 {
    margin-top: 60%;
  }

  .button-4 {
    margin-top: 45%;
  }

  .button-5 {
    margin-top: 35%;
  }
}

p {
  color: $charcoal;
  text-align: justify;
}

a {
  margin: inherit;
}
