.portfolio {
  font: 100% $font-stack;
  margin: 10% 0 0 0;
  padding: 10%;
  width: 100%;
  color: $light-gray;
  border-color: $nickel;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;

  .button-3 {
    margin-top: 60%;
  }

  .button-4 {
    margin-top: 45%;
  }

  .button-5 {
    margin-top: 35%;
  }
}

p {
  color: $cadet-blue-crayola;
  text-align: justify;
  letter-spacing: 0.01em;
}

a {
  margin: inherit;
}
